* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-1: #aecc53;
  --color-2: #416319;
  --color-3: #fefae0;
  --color-4: #b1eb6a;
}

body {
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.div-container {
  width: 25rem;
  height: 30rem;
  background-color: var(--color-2);
  color: var(--color-3);
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 10px 30px;
}

h1 {
  font-size: 3em;
  margin: 35px auto;
}

.form-control {
  position: relative;
  width: 100%;
  height: 65px;
  margin-bottom: 30px;
  text-align: left;
}

.form-control input {
  width: 100%;
  border: none;
  border-bottom-color: var(--color-3);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  color: var(--color-3);
  background-color: transparent;
  height: 45px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 1.4em;
  z-index: +2;
}

input:focus,
input:valid {
  outline: none;
  border-bottom-color: var(--color-4);
}

.form-control span {
  font-size: 1.2em;
  display: inline-block;
  transition: transform 200ms linear;
  transform: translatey(25px);
}

input:focus + label span,
input:valid + label span {
  transform: translatey(0px);
  color: var(--color-4);
}

button {
  margin-top: 10px;
  width: 150px;
  height: 50px;
  font-size: 1.3em;
  color: var(--color-3);
  background: #8aaf5c;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
  font-size: 1.3em;
}

a {
  color: var(--color-4);
  text-decoration: none;
}
