* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #b8842e;
}

#back-wall {
    position: absolute;
    background: #8b4513;
    width: 100%;
    height: 60%;
    z-index: -1;
}

#offwhite-character {
    position: absolute;
    background: #f8f8ff;
    top: 25%;
    left: 7.5%; 
    width: 20rem;
    height: 40rem;
}

#white-hat{
    position: absolute;
    top: -150px;
    border-style: solid;
    border-width: 0 12rem 150px 8rem;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #f8f8ff;
}

#black-mask {
    background: #2d1f13;
    width: 100%;
    height: 4rem;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#gray-instrument {
    background: #a7a275;
    height: 20rem;
    padding: 4rem 0;
    width: 15%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.black-dot {
    background-color: #2d1f13;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.eyes {
    width: 3.5rem;
    height: 2.2rem;
    border-radius: 20px 50%;
    background: #8b4513;
}

#tan-table {
    background: #d2691e;
    width: 45rem;
    height: 14rem;
    margin-left: -10px;
    margin-top: 10px;
}

#black-character{   
    background: rgb(54, 51, 51);
    width: 18rem;
    height: 35rem;
    position: absolute;
    right: 7.5%;
    top: 8rem;
}

#black-hat{
    border-color: rgb(54, 51, 51);
    border-style: solid;
    border-width: 0 18rem 8rem 0;
    border-right-color: transparent;
    margin-top: -8rem;
}

#gray-mask{
    background: #a7a275;
    width: 60%;
    height: 8rem;
    margin: -10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#white-paper {
    width: 24rem;
    height: 5rem;
    background: rgb(226, 201, 201);
    position: absolute;
    top: 25rem;
    right: -1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15%;
}

.fa-music {
    color: blue;
    font-size: 25px;
}
#guitar {
    width: 20rem;
    height: 6rem;
    position: relative;
    left: calc(50% - 10rem);
    top: 22rem;
    display: flex;
    align-items: center;
    z-index: 3;
}

.left-guitar, .right-guitar {
position: absolute;
 background: rgb(130, 130, 224);
 width: 8rem;
 height: 90%;
 border-radius: 75%;
}

.right-guitar {
    left: 6rem;
}

.guitar-neck {
    position: absolute;
    left: 9.5rem;
    background-color: rgb(38, 85, 80);
    width: 10rem;
    height: 1.5rem; 
    border-radius: 5px;
}

#triangles {
    position: absolute;
    top: 40%;
    left:40%;
    background: orange;
    width: 15rem;
    height: 35rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px 2px;
    grid-template-areas:
        ". . . . ."
        ". . . . ."
        ". . . . ."
        ". . . . ."
        ". . . . ."
        ". . . . .";
    z-index: 0;
}

.triangle {
    border-color: orangered;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-width: calc((35rem - 10px)/12) calc((15rem - 8px) / 5) calc(35rem/12) 0px;
}
/* color list:
 #8b4513; #2d1f13; eyes --> #8b4513; gray -->  #f8f8ff;